  <div class="item">
    <a class="item">
      <%= link_to "Chatroom", root_path %>
    </a>
  </div>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        <a class="item">
          <%= link_to "Log in", login_path %>
        </a>
        <a class="item"><!-- <i class="dropdown icon"></i> -->
          Log out
        </a> <!-- <i class="dropdown icon"></i> -->
                <!-- <div class="menu">
                  <a class="item">Log out</a>
                  <a class="item">Log in</a>
                  <a class="item">Sign up</a>
                </div> -->
      </div>

      <div class="item">
        <div class="ui primary button">Sign Up</div>
        </div>
      </div>